*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif


}
body{
    background-color: rgb(140, 201, 255);
}
h1{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;    

}
.container{
    max-width: 600px;
    margin: 300px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-box{
    display: flex;
    /* flex-direction: row; */
}
.input-box .icono{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.input-title{
    display: flex;
    flex-direction: column;
}
.input-box input{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: black;
}

.input-box i{
    font-size: 24px;
    cursor: pointer;
    color: palevioletred;
}